<div class="grid gap-4 p-5 grid-cols-4 bg-[#F8EDE3] items-center">
    <div *ngFor="let pokemon of pokemons | paginate: { itemsPerPage: 10, currentPage: page, totalItems: totalPokemon }" 
        class="w-full h-72 p-3 shadow-md rounded m-auto bg-gradient-to-b from-[#caa68f] to-[#D0B8A8] hover:-translate-y-1 relative">
        <app-favourite-button [pokemonId]="pokemon.id"></app-favourite-button>
        <div class="rounded-lg shadow-lg max-w-sm flex bg-gradient-to-b from-[#d8c3a7] to-[#DFD3C3]">
            <img [src]="pokemon.sprites.front_default" alt={{pokemon.name}} class="rounded-t-lg relative left-2 hover:scale-150"/>
            <div>
                <p class="text-slate-800 text-xl text-center absolute py-4 left-40">{{pokemon.types[0].type.name}}</p>
                <p *ngIf="pokemon.types[1]" class="text-slate-700 text-xl absolute py-10 left-40"> {{pokemon.types[1].type.name}}</p>
            </div>
        </div>
        <div class="flex py-2 px-2">
            <h5 class="text-gray-900 text-xl font-medium mb-2"> {{pokemon.id}}. {{pokemon.name}}</h5>
        </div>
        <div class="relative bottom-0">
            <p>
                <b>Height: </b> {{pokemon.height}}
            </p>
            <p>
                <b>Weight: </b> {{pokemon.weight}}
            </p>
        </div>
    </div>
</div>

<pagination-controls (pageChange)="renderPage($event)" 
    class="my-pagination text-center"></pagination-controls>